apiVersion: v2
name: directus
type: application

description: |
  A Helm chart for installing Directus on Kubernetes.
  Directus is a real-time API and App dashboard for managing SQL database content.

home: https://directus.io/

sources:
  - https://github.com/directus-labs/helm-chart/tree/master/charts/directus
  - https://github.com/directus/directus

icon: https://avatars.githubusercontent.com/u/79210894

maintainers:
  - name: mykhailo-sindieiev
    email: mykhailo_sindieiev@owasp.org
    url: https://github.com/directus-labs/helm-chart

version: 2.0.7
appVersion: "11.13.0"

dependencies:
- name: mysql
  version: "~14.0.3"
  repository: "oci://registry-1.docker.io/bitnamicharts"
  condition: mysql.enableInstallation
- name: postgresql
  version: "~16.7.27"
  repository: "oci://registry-1.docker.io/bitnamicharts"
  condition: postgresql.enableInstallation
- name: redis
  version: "~23.2.6"
  repository: "oci://registry-1.docker.io/bitnamicharts"
  condition: redis.enabled
